/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * Replace with Operation Object #http://swagger.io/specification/#operationObject
   * 
   * Expected answers:
   *   code 200 :  (Success operation)
   * 
   * Available security schemes:
   *   apikeyQuery (apiKey)
   */
  def /api/HttpTriggerJS1/get()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/c.khonsuwan/chokchai-swagger-tst/1.0.0", "/api/HttpTriggerJS1", "application/json")
      .withApiKey(apiKey, "code", QUERY)
      .withSuccessResponse[Unit](200)
        /**
   * Replace with Operation Object #http://swagger.io/specification/#operationObject
   * 
   * Expected answers:
   *   code 200 :  (Success operation)
   * 
   * Available security schemes:
   *   apikeyQuery (apiKey)
   */
  def /api/HttpTriggerJS1/post()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/c.khonsuwan/chokchai-swagger-tst/1.0.0", "/api/HttpTriggerJS1", "application/json")
      .withApiKey(apiKey, "code", QUERY)
      .withSuccessResponse[Unit](200)
      

}

